asgiref
Django
python-decouple
sqlparse
tzdata
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-mptt
django-mptt-admin
social-auth-app-django
google-auth
google-auth-oauthlib
setuptools
psycopg2-binary
Pillow
dotenv